[program: peer]
command={{ peer_install_path }}/bin/peer node start
environment=FABRIC_CFG_PATH={{ peer_install_path }}

numprocs=1
autostart=true
startretries=3
autorestart=unexpected
exitcodes=0,2

stdout_logfile={{ peer_install_path }}/log/{{ inventory_hostname }}.stdout
stdout_logfile_maxbytes=50MB
stdout_logfile_backups=10

stderr_logfile={{ peer_install_path }}/log/{{ inventory_hostname }}.stderr
stderr_logfile_maxbytes=50MB
stderr_logfile_backups=10
